
.container
{
    color: white;
    font-weight: 400;
    border-radius: 10px;
    padding: 4px 8px;
    margin: 0 4px;

    &.xamarin{
    background-color: #0075C4;
    }
    &.dotnet{
        background-color: #0267C1;
    }
    EFA00B
    D65108
}