
.container
{
    color: white;
    font-weight: 400;
    border-radius: 10px;
    padding: 4px 8px;
    margin: 0 4px;

    &.xamarin{
    background-color: #0075C4;
    }
    &.dotnet{
        background-color: #0267C1;
    }
    &.sql{
       background-color: #EFA00B;
    }
    &.sqlite{
        background-color: #D65108;
    }
    &.backend{
        background-color: darkseagreen;
    }
    &.CSharp{
        background-color: #8C7AA9;
    }
    &.Angular{
        background-color: #D63230;
    }
    &.ReactJS{
        background-color: cornflowerblue;
    }

    
}