 ul{
    display: flex;
    justify-content: space-around;
 }

 a{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

nav{
   background-color: black;
   position: sticky;
}