 ul{
    display: flex;
    justify-content: flex-end;
    padding: 0 250px;
 }
 li{
    margin: 0 10px;
 }

 a{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

nav{
   padding: 20px ;
   background-color: black;
   position: fixed;
   top:0;
   width: 100%;
}
