.search{
    &-container{
        height: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        left: calc(50% - (300px - 65px));
        z-index: 4;
    }
    
    &-form{

    }
    &-input{
        margin-left: 10px;
        padding: 10px;
        width: 300px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        outline: none;
        border: none;
    }

    &-button{
        border: none;
        outline: none;
        background-color: #3f51b5;
        padding: 10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #fff;
        width: 65px;
    }
    // border-left: 1px solid black
}