<router-outlet></router-outlet>

<div style="display: none">
    <ng-container *ngIf="($initialInterval | async); else loadingPage">
    </ng-container>

    <ng-template #loadingPage>
        <div class="image-container" *ngIf="!canShow">
            <div class="text">Lucas Teixeira Portfolio</div>
        </div>
    </ng-template>

    <div class="home-wrapper" *ngIf="canShow">
        <div class="home-wrapper-header">
            <div class="home-wrapper-header-nav">
                <div class="logo-container">
                    <button class="logo">LT</button>
                </div>
                <div class="home-wrapper-header-nav-title">
                    <h3>{{developerMode ? 'Developer Life 👨‍💻' : 'Personal Life💆🏽‍♂️'}}</h3>
                </div>
                <div class="theme-container">
                    <a href="https://github.com/lucass-teixeira"><i class="fab fa-github ng-star-inserted"></i></a>
                    <a href="https://www.linkedin.com/in/lucasteixeira20/"><i
                            class="fab fa-linkedin ng-star-inserted"></i></a>
                    <i *ngIf="!developerMode" (click)="toggle()" class="fa-solid fa-toggle-off"></i>
                    <i *ngIf="developerMode" (click)="toggle()" class="fa-solid fa-toggle-on"></i>
                    <img src="../assets/dev-mode.png" *ngIf="!developerMode" />
                </div>
            </div>
            <div class="home-wrapper-header-container">
                <div class="main-img-container">
                    <img src="../assets/rectangle.svg" class="img-rectangle" />
                    <!-- <img src="../assets/me-nobackground.png" class="img-me-header" /> -->
                    <div class="img-me-header">
                    </div>
                </div>
            </div>
            <!-- [attr.data-value]="'Meu nome é lucas'"  -->
            <div class="home-wrapper-header-container-title">
                <!-- <h1 *ngIf="developerMode">My Name is <strong>Lucas Teixeira</strong></h1> -->
                <ng-container *ngIf="developerMode">
                    <h1 data-text="">My name is <strong>Lucas Teixeira</strong></h1>
                    <h3>Frontend | Mobile • Developer</h3>
                </ng-container>

            </div>

        </div>

        <div class="home-wrapper-content" *ngIf="developerMode">
            <p class="subtitle">About Me</p>

            <p class="description">I am a passionate frontend developer programing since 2019. I love beautiful
                interfaces
                and bringing <strong>UI</strong> and <strong>UX</strong> to life. </p>
            <p class="subtitle">Projects</p>
            <!-- <app-btn-filter-select></app-btn-filter-select> -->

            <ng-container *ngFor="let p of projects">
                <app-card-project [project]="p"></app-card-project>
            </ng-container>
        </div>

        <div class="home-wrapper-personal-content" *ngIf="!developerMode" style="display: none">
            <p class="subtitle">if(lucas.hasFreeTime)</p>

            <div class="hobby-container">

                <div class="hobby-container-item">
                    <div class="hobby-container-item-vid nature-img" [class.transform-left]="true">
                    </div>
                    <div class="hobby-container-title" [class.align-left]="true"><strong>Nat</strong>ure</div>
                </div>
                <div class="hobby-container-item">
                    <div class="hobby-container-item-vid">
                    </div>

                    <div class="hobby-container-title">Bas<strong>ket</strong></div>
                </div>
            </div>



        </div>
        <div class="home-wrapper-footer">
        </div>

        <div class="home-wrapper-modal">
        </div>
    </div>
</div>