<header>
    <!-- <div class="hero-container">
        <div class="hero">
            <div class="img" ></div> 
        </div>
    </div> -->

    <div class="hero-txt">
        <h1>Lucas Teixeira</h1>
        <h3>A passionate Software Developer</h3>
    </div>

    <div class="line"></div>

    <div class="hero-picture">
        <img src="../../assets/me3.png"/>

    </div>

    <div class="link-container">
        <a href="https://github.com/lucass-teixeira">
            <img  src="../../assets/githubIcon.png"/>
        </a>
        <a href="https://www.linkedin.com/in/lucasteixeira20">
            <img  src="../../assets/linkedinIcon.png"/>
        </a>
        <a href="https://www.instagram.com/lucaxx.teixeira/">
            <img  src="../../assets/instagramIcon.png"/>
        </a>
    </div>

    <i class="fa-solid fa-angle-down"></i>


</header>
<div class="alert">
    <p>Developed in Angular</p>

</div>

<div class="container">
    <section id="aboutme-section">
        <h2>About Me</h2>

        <div class="gridish">
            <img class="imgResized" src="../../assets/LucasDeveloper.webp"/>
            <div class="content">
                <p>A programmer that do not drink coffee☕ COF COF.  I've been developing since 2019 and since then  always learning to be better.</p>
            </div>
        </div>

    </section>

    <section id="achivment-section">
        <h2>Achivments#</h2>
        <div class="gridish">
            <!-- <img class="imgResized" src="../../assets/spRj.jpg" *ngIf="indexCounter.Value"  />
            <img class="imgResized" src="../../assets/competition.png"/>
            <img class="imgResized" src="../../assets/meAndLidi.jpg"/> -->
        </div>
    </section>
</div>