<header>
    <!-- <div class="hero-container">
        <div class="hero">
            <div class="img" ></div> 
        </div>
    </div> -->

    <div class="hero-txt">
        <h1>Lucas Teixeira</h1>
        <h3>A passionate Software Developer</h3>
    </div>

    <div class="line"></div>

    <div class="hero-picture">
        <img src="../../assets/me3.png" />

    </div>

    <div class="link-container">
        <a href="https://github.com/lucass-teixeira">
            <img src="../../assets/githubIcon.png" />
        </a>
        <a href="https://www.linkedin.com/in/lucasteixeira20">
            <img src="../../assets/linkedinIcon.png" />
        </a>
        <a href="https://www.instagram.com/lucaxx.teixeira/">
            <img src="../../assets/instagramIcon.png" />
        </a>
    </div>

    <i class="fa-solid fa-angle-down"></i>


</header>
<div class="alert">
    <!-- <p>Developed in Angular</p> -->
    <p>Still in Development</p>

</div>

<div class="container">
    <section id="aboutme-section">
        <h2>About Me</h2>

        <div class="aboutme-grid">
            <div class="aboutme-grid-lottiecontainer">
                <ng-lottie height="auto" [options]="options"></ng-lottie>
            </div>

            <div class="aboutme-grid-content">
                <p>The first software engineer that do not drink coffee☕. I've been developing since 2019 and since then always
                    learning to be better and challenging myself.</p>
                <div class="aboutme-grid-content-topics">
                    <div class="aboutme-topics-img">
                        <img src="../../assets/programming.svg" />
                        <h3>Programming</h3>
                    </div>
                    <div class="aboutme-grid-content-topics-img">
                        <img src="../../assets/social.svg" />
                        <h3>Social</h3>
                    </div>
                    <div class="aboutme-grid-content-topics-img">
                        <img src="../../assets/basketball.svg" />
                        <h3>Sports</h3>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section class="achiviment">
        <!-- <h2>Achivments#</h2> -->
        <h2>Knoledge Olimpiad</h2>
        <div class="achiviment-container">
            <div class="achiviment-container-wrapper">
                <div class="achiviment-container-wrapper-img1">

                </div>
                <div class="achiviment-container-wrapper-content">
                    <p>After graduating in Software Development I competed statwidely in <span><a
                        href="https://worldskills.org/what/competitions/wsc2022/">Software Solutions for
                        Businness</a></span> category. I had the honor to win and represent São Paulo State in
                        this category.</p>
                </div>
            </div>
            <div class="achiviment-container-wrapper">
                <div class="achiviment-container-wrapper-content">
                    <p>I trained during one year and a half to compete Nationaly against other 4 states of Brazil. The
                        winner would compete at the same category in <span><a
                                href="https://worldskills.org/what/competitions/wsc2022/">WorldSkills
                                Shanghai</a></span>. The ending results came out, and I took 2nd place. </p>
                </div>
                <div class="achiviment-container-wrapper-img2">

                </div>
            </div>
            <!-- <div class="achiviment-container-wrapper hidden" [class.hidden]="IndexCounter.value == 3">
                <div class="achiviment-container-wrapper-img3">

                </div>
                <div class="achiviment-container-wrapper-content">
                    <p>After graduating in Software Development I competed statwidely in <span><a
                        href="https://worldskills.org/what/competitions/wsc2022/">Software Solutions for
                        Businness</a></span> category. I had the honor to win and represent São Paulo State in
                        this category.</p>
                </div>
            </div> -->
        </div>
    </section>

</div>