header {
    background-color: black;
    display: flex;
    height: 100vh;
    animation: transitionIn 3s;


    .hero-txt {
        display: grid;
        justify-content: end;
        align-items: center;
        align-content: center;
        height: 100%;
        padding: 2rem;
        width: 50%;

        h3 {
            color: rgba(255, 255, 255, .7);
            font-family: 'Bebas Neue', cursive;
            font-size: 1.1rem;
            font-weight: 200;
            letter-spacing: 1.11rem;
        }
    }
}

.alert {
    position: fixed;
    right: -50px;
    top: 40px;
    transform: rotate(45deg);
    color: white;
    padding: 4px 40px;
    font-family: 'Bebas Neue', cursive;
    background-color: darkcyan;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 10rem;
    letter-spacing: 1, 8rem;
    margin: 0;
}



/* Hero */


.hero-picture {
    display: flex;
    align-items: center;
    transform: scale(.5);
    height: 100%;
    width: 40%;
}

.hero-picture>img {
    height: 30rem;

    animation: circleAnim 4s;
    clip-path: circle(50% at 50%);
}

@keyframes circleAnim {
    from {
        clip-path: circle(0% at 0%);
    }

    to {
        clip-path: circle(50% at 50%);
    }
}

.hero-container {
    height: 70%;
    width: 50%;
}

.hero {
    padding: 0;
    border-radius: 12px;
    background-image: url(../../assets/me1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: 3s ease-in;
}

.line {
    background-color: white;
    width: 4px;
    height: 70%;
    margin: 10rem 0;
}

.img {
    background-image: url(../../assets/meColored.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;

    filter: blur();
    transition: 1.5s;
    background-color: transparent;
}

.hero:hover {
    clip-path: polygon(0 0, 60% 0, 60% 100%, 1% 100%);
}

.img:hover {
    transform: translateX(-400px);
}

.link-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 50%;
    border-radius: 30px;
    background-color: #3A3B3C;
    padding: 4px;

}

.link-container>a>img {
    height: 3rem;
}



.achiviment{
    height: 150vh;
    width: 100%;
    padding: 15rem 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 

    &-container{
        height: calc(100% - 3rem);
        width: 100%;
        transition: all .4s;

        
        &-wrapper{
            display: flex;
            height: 50%;
            
            &-content
            {
                display: flex;
                align-items: center;
                padding: 3rem;
                font-weight: 500;
                font-size: larger;
                width: 50%;
            }
      
            &-img1{
                height: 100%;
                width: 50%;
                background-image: url('../../assets/competition.png');
                background-size: cover;
                // object-fit: cover;
            }
            &-img2{
                height: 100%;
                width: 50%;
                background-image: url('../../assets/meAndLidi.jpg');
                background-size: cover;
            }
            &-img3{
                height: 100%;
                width: 70%;
                background-image: url('../../assets/me.jpg');
                background-size: cover;
            }
            &.hidden{
                display: none;
            }
        }

    }


}

/* Achivment */
#achivment-section {
    padding: 4rem 0;
    height: 120vh;
    /* background-color: #Efefef; */
}


#aboutme-section {
    display: grid;
    align-content: center;
    align-items: center;
    padding: 4rem 0;
    height: 100vh;
    /* background-color: #Efefef; */
}


.aboutme {


    &-grid {
        display: flex;
        justify-content: space-between;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5rem;
        height: 50%;

        &-imgcontainer {
            display: flex;
            justify-content: flex-start;
            width: 300px;
            height: 200px;
            padding: 3rem;

            img {
                height: 100%;
                width: 100%;
                object-fit: scale-down;
                background-image: url('../../assets/LucasDeveloper.webp');
                background-size: cover;

            }
        }



        &-content {

            &-topics {

                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                // &-img {
                //     display: flex;
                //     justify-content: center;
                //     height: 150px;
                //     align-items: center;
                //     background-color: #a8dadc;
                //     clip-path: circle();

                // }

                img {
                    height: 100px;
                    object-fit: cover;
                }

                h3 {
                    color: #3A3B3C;
                }
            }
        }
    }

}

.aboutme-grid>* {
    flex-basis: 50%;
}

.grid-container {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}

// .imgResized {
//     height: 30rem;
// }

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem;
}

.title {}