.filter-select-container{
    button{
        border: none;
        background-color: red;
        color: white;
        box-shadow: none;
        padding: 5px 10px;
        border-radius: 8px;
    }
}